@import url(http://fonts.googleapis.com/css?family=Poly|Gentium+Book+Basic|Andada|Andika);
/* Based on <http://goldengridsystem.com/> */
/*
*
* Margin, padding, and border resets
* except for form elements
*
*/
/* line 8, ../source/partials/_reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, menu, time, mark, audio, video, canvas {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
*
* Consistency fixes
* adopted from http://necolas.github.com/normalize.css/
*
*/
/* line 21, ../source/partials/_reset.scss */
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 26, ../source/partials/_reset.scss */
body {
  min-height: 100%;
  font-size: 100%;
}

/* line 31, ../source/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
  display: block;
}

/* line 34, ../source/partials/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 40, ../source/partials/_reset.scss */
sup {
  top: -0.5em;
}

/* line 43, ../source/partials/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 46, ../source/partials/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 51, ../source/partials/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 54, ../source/partials/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 57, ../source/partials/_reset.scss */
input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}

/* line 66, ../source/partials/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 71, ../source/partials/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 78, ../source/partials/_reset.scss */
textarea {
  overflow: auto;
}

/* line 81, ../source/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*	Typography
*/
/* line 4, ../source/partials/_type.scss */
body {
  font-family: georgia, "Times New Roman", Times, serif;
}

/* line 9, ../source/partials/_type.scss */
#content header h1 {
  font-family: georgia, "Times New Roman", Times, serif;
}

/* line 12, ../source/partials/_type.scss */
#site-logo h1 {
  font-weight: bold;
}

/* line 15, ../source/partials/_type.scss */
h2 {
  margin: 0.9230769230769231em 0 0.46153846153846156em;
  font-weight: normal;
}

/* line 19, ../source/partials/_type.scss */
h3 {
  margin: 1.5em 0 0.75em;
}

/* line 22, ../source/partials/_type.scss */
h2 + h3 {
  margin-top: 0.75em;
}

/* line 26, ../source/partials/_type.scss */
#content p, #content ul, #content ol, #content pre {
  margin-bottom: 0.75em;
}
/* line 29, ../source/partials/_type.scss */
#content ul {
  list-style: square;
}
/* line 30, ../source/partials/_type.scss */
#content li {
  list-style-position: inside;
}

/* line 32, ../source/partials/_type.scss */
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 37, ../source/partials/_type.scss */
pre {
  overflow-x: auto;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

/*
*
* Zoomable baseline grid
* type size presets
*
*/
/* line 51, ../source/partials/_type.scss */
body {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em;
}

/* line 57, ../source/partials/_type.scss */
.small {
  /* 13px / 18px */
  font-size: 0.813em;
  line-height: 1.385em;
}

/* line 63, ../source/partials/_type.scss */
.normal, h3 {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em;
  /* 24 */
}

/* line 69, ../source/partials/_type.scss */
.large, body.index #content .wrapper article a h2, h2, h1 {
  /* 26 / 36px */
  font-size: 1.625em;
  line-height: 1.385em;
}

/* line 75, ../source/partials/_type.scss */
.huge, .ie h1, h1 {
  /* 42px / 48px */
  font-size: 2.625em;
  line-height: 1.143em;
}

/* line 81, ../source/partials/_type.scss */
.massive {
  /* 68px / 72px */
  font-size: 4.25em;
  line-height: 1.059em;
}

/* line 87, ../source/partials/_type.scss */
.gigantic {
  /* 110px / 120px */
  font-size: 6.875em;
  line-height: 1.091em;
}

/* line 6, ../source/screen.scss */
body {
  min-width: 400px;
}

/*
*
* Simple fluid media
*
*/
/* line 16, ../source/screen.scss */
figure {
  position: relative;
}

/* line 19, ../source/screen.scss */
figure img, figure object, figure embed, figure video {
  max-width: 100%;
  display: block;
}

/* line 23, ../source/screen.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/*
* Default
*/
/* line 33, ../source/screen.scss */
#site-footer {
  margin-top: 1.5em;
  font-size: 0.8em;
}
/* line 38, ../source/screen.scss */
#site-footer ul {
  list-style-type: none;
}

/* line 44, ../source/screen.scss */
#site-header {
  margin-top: 1.5em;
}

/* line 48, ../source/screen.scss */
#site-logo {
  text-align: center;
  overflow: hidden;
  *zoom: 1;
}
/* line 52, ../source/screen.scss */
#site-logo h1 {
  text-indent: -9999px;
  background: url("../images/logo.png") center no-repeat;
  height: 168px;
  color: #ba1820;
  font-family: times;
  margin: 0.2859em 0 0.57149em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* line 64, ../source/screen.scss */
#main-navigation {
  text-align: center;
}
/* line 66, ../source/screen.scss */
#main-navigation ul li {
  display: inline;
  padding: 0 2% 0 0;
}
/* line 70, ../source/screen.scss */
#main-navigation ul li a {
  color: black;
  text-decoration: none;
  font-size: 1em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}
/* line 76, ../source/screen.scss */
#main-navigation ul li a:hover, #main-navigation ul li a:active, #main-navigation ul li a:focus {
  border-bottom: 2px solid #ba1820;
}

/* line 83, ../source/screen.scss */
#user-navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1.5em;
  border-bottom: 1px solid #DDDDDD;
  background-color: rgba(253, 252, 252, 0.4);
  padding: 0 0.75em;
}
/* line 96, ../source/screen.scss */
#user-navigation ul li {
  float: right;
  display: block;
  padding: 0 1%;
}
/* line 100, ../source/screen.scss */
#user-navigation ul li a {
  text-decoration: none;
  color: #900a0a;
}

/* line 108, ../source/screen.scss */
body {
  background: url("../images/background.png") repeat;
}

/* line 112, ../source/screen.scss */
#content {
  margin-bottom: 1.5em;
}
/* line 113, ../source/screen.scss */
#content .box {
  position: relative;
  border: 1px solid #DDDDDD;
  background-color: rgba(253, 252, 252, 0.4);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  clear: both;
  *zoom: 1;
  padding-bottom: 0.75em;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#content .box:after {
  content: "";
  display: table;
  clear: both;
}
/* line 124, ../source/screen.scss */
#content .box.active:hover {
  background-color: rgba(253, 252, 252, 0.8);
}

/* line 133, ../source/screen.scss */
#content header h1 {
  font-weight: normal;
  font-family: Times;
  text-align: center;
  color: black;
  font-size: 1.625em;
  line-height: 1.385em;
  margin: 0.4230769230769231em 0 0.46153846153846156em;
}

/* line 146, ../source/screen.scss */
#meeting header h2 {
  text-align: center;
  font-size: 1.125em;
}

/* line 151, ../source/screen.scss */
a {
  color: #ba1820;
}
/* line 153, ../source/screen.scss */
a:visited {
  color: #8d1218;
}
/* line 156, ../source/screen.scss */
a:hover, a:active, a:focus {
  color: #600c10;
}

/* line 162, ../source/screen.scss */
a.action {
  float: right;
}

/* line 166, ../source/screen.scss */
a.button {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  text-decoration: none;
  color: rgba(253, 252, 252, 0.6);
  background-color: #220402;
  padding: 0.417em 1em;
  margin: 0 0 0.834em 0;
  display: inline-block;
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 177, ../source/screen.scss */
a.button:hover, a.button:active, a.button:focus {
  color: #d11b24;
}

/* forms */
/* line 183, ../source/screen.scss */
#id_honeypot {
  display: none;
}

/* line 187, ../source/screen.scss */
#pagination {
  clear: both;
}
/* line 189, ../source/screen.scss */
#pagination ul, #pagination ol {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 193, ../source/screen.scss */
#pagination ul li, #pagination ul ol, #pagination ol li, #pagination ol ol {
  display: inline;
}
/* line 195, ../source/screen.scss */
#pagination ul li li, #pagination ul ol li, #pagination ol li li, #pagination ol ol li {
  margin-right: 2px;
}
/* line 198, ../source/screen.scss */
#pagination ul li.active, #pagination ul ol.active, #pagination ol li.active, #pagination ol ol.active {
  font-weight: bold;
}
/* line 200, ../source/screen.scss */
#pagination ul li.active a, #pagination ul ol.active a, #pagination ol li.active a, #pagination ol ol.active a {
  border: none;
  color: #ba1820;
}
/* line 206, ../source/screen.scss */
#pagination ul li, #pagination ol li {
  margin-right: 1.2em;
}
/* line 209, ../source/screen.scss */
#pagination ul #step-links, #pagination ol #step-links {
  display: inline;
}

/* line 222, ../source/screen.scss */
#profile .avatar {
  float: left;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
}

/* line 230, ../source/screen.scss */
body.index #content .wrapper {
  overflow: hidden;
  *zoom: 1;
}
/* line 233, ../source/screen.scss */
body.index #content .wrapper article a {
  text-decoration: none;
}
/* line 235, ../source/screen.scss */
body.index #content .wrapper article a h2 {
  margin: 0 0 0.4615em;
}
/* line 242, ../source/screen.scss */
body.index #members {
  margin-bottom: 1.5em;
  clear: both;
}
/* line 246, ../source/screen.scss */
body.index #members li {
  display: block;
  float: left;
  width: 25%;
}
/* line 251, ../source/screen.scss */
body.index #members li a {
  display: block;
  text-align: center;
}
/* line 254, ../source/screen.scss */
body.index #members li a img {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}

/* line 264, ../source/screen.scss */
nav.edit {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fbf9f9;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
/* line 273, ../source/screen.scss */
nav.edit ul {
  margin-bottom: 0!important;
}
/* line 275, ../source/screen.scss */
nav.edit ul li {
  display: inline;
  font-size: 0.8em;
  padding: 0.25em;
}

/* line 285, ../source/screen.scss */
#member-list .member {
  height: 4em;
  margin-bottom: 0.75em;
}
/* line 290, ../source/screen.scss */
#member-list .member header {
  margin-left: 3.5em;
}
/* line 292, ../source/screen.scss */
#member-list .member header h1 {
  margin: 0;
  text-align: left;
  font-size: 1em;
}
/* line 300, ../source/screen.scss */
#member-list .member .avatar {
  float: left;
  width: 3em;
}
/* line 303, ../source/screen.scss */
#member-list .member .avatar img {
  height: 3em;
}

/* line 310, ../source/screen.scss */
#note-list article, #meeting-list article {
  margin-bottom: 1.5em;
}
/* line 314, ../source/screen.scss */
#note-list article a, #meeting-list article a {
  text-decoration: none;
}
/* line 318, ../source/screen.scss */
#note-list article .meta, #meeting-list article .meta {
  margin-bottom: 0;
}
/* line 320, ../source/screen.scss */
#note-list article .meta li, #meeting-list article .meta li {
  display: inline;
  padding-right: 0.75em;
  font-style: italic;
}
/* line 328, ../source/screen.scss */
#note-list article header h1, #meeting-list article header h1 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0.15em;
}

/* line 338, ../source/screen.scss */
#meeting-list h2 {
  margin-bottom: 0;
  font-size: 1.2em;
}

/* line 348, ../source/screen.scss */
#comments article.comment h1 {
  text-align: left;
  font-weight: bold;
  font-size: 1.1em;
}
/* line 353, ../source/screen.scss */
#comments article.comment .img {
  float: left;
}
/* line 356, ../source/screen.scss */
#comments article.comment .comment-content {
  padding-left: 5em;
}

/* line 365, ../source/screen.scss */
form ol li {
  list-style: none;
  line-height: 3em;
  clear: both;
}
/* line 369, ../source/screen.scss */
form ol li input:not([type="radio"]), form ol li textarea {
  width: 44%;
}
/* line 373, ../source/screen.scss */
form label {
  float: left;
  width: 10.5em;
  font-size: 0.9em;
  text-align: right;
  padding: 0 0.75em;
}
/* line 379, ../source/screen.scss */
form label:hover {
  cursor: pointer;
}
/* line 384, ../source/screen.scss */
form input:not([type="radio"]), form textarea {
  padding: 0.2em;
  font-size: 0.9em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #DDDDDD;
  font-style: italic;
}
/* line 390, ../source/screen.scss */
form input:not([type="radio"]):focus, form textarea:focus {
  background-color: #f7f7f7;
}
/* line 394, ../source/screen.scss */
form textarea {
  font-size: 1em;
}

/*
*
* Four-column grid active
* ----------------------------------------
* Margin | # 1 2 3 4 | Margin
* 5.55555% | % 25 50 75 100 | 5.55555%
*
*/
/* line 410, ../source/screen.scss */
#page {
  margin: 0 5.556%;
  padding: 1.5em 0;
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 417, ../source/screen.scss */
#content {
  margin-top: 1.5em;
}

/* line 421, ../source/screen.scss */
h2 {
  font-weight: normal;
}

/* line 425, ../source/screen.scss */
h3 {
  margin: 1.5em 0 1.5em;
}

/*
* Simple elastic gutters
* Note: box-sizing will not work in IE6-8
*/
/* line 435, ../source/screen.scss */
.wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*
*
* Fixes for IE6-8
* http://jonikorpi.com/leaving-old-IE-behind/
*
*/
/* line 452, ../source/screen.scss */
.ie body {
  width: 40em;
  margin: 0 auto;
  font-size: 1.063em;
}

/* line 458, ../source/screen.scss */
.ie h1 {
  margin: 1.143em 0 0.571em;
}

/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em) {
  /* line 466, ../source/screen.scss */
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.063em;
  }

  /* line 471, ../source/screen.scss */
  h1 {
    margin: 1.143em 0 0.571em;
  }

  /* line 476, ../source/screen.scss */
  #site-footer .wrapper {
    width: 50%;
    float: left;
  }
}
/*
*
* Eight-column grid active
* ----------------------------------------------------------------------
* Margin | # 1 2 3 4 5 6 7 8 | Margin
* 5.55555% | % 12.5 25.0 37.5 50.0 62.5 75.0 87.5 100 | 5.55555%
*
*
*/
/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
  /* line 496, ../source/screen.scss */
  body {
    /* Reset baseline grid to 16/16 = 1 */
    font-size: 1em;
  }

  /* line 501, ../source/screen.scss */
  body.index #notes, body.index #events {
    float: left;
    width: 50%;
  }
  /* line 506, ../source/screen.scss */
  body.index #members li {
    width: 12.5%;
  }

  /* line 514, ../source/screen.scss */
  #member-list .member.wrapper {
    float: left;
    width: 50%;
  }

  /* line 520, ../source/screen.scss */
  #site-footer .wrapper {
    width: 25%;
    float: left;
  }
}
/* @media screen and (min-width: 888px) */
@media screen and (min-width: 55.5em) {
  /* line 530, ../source/screen.scss */
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.063em;
  }
}
/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {
  /* line 542, ../source/screen.scss */
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    font-size: 1em;
  }

  /* line 547, ../source/screen.scss */
  #page {
    margin: 0 16.667%;
  }
}
/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {
  /* line 557, ../source/screen.scss */
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.063em;
  }
}
/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {
  /* line 568, ../source/screen.scss */
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    font-size: 1em;
  }

  /* line 573, ../source/screen.scss */
  #page {
    margin: 0 27.778%;
  }
}
/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em) {
  /* line 583, ../source/screen.scss */
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.063em;
  }
}
/*
*
* Sixteen-column grid active
* ----------------------------------------------------------------------------------------------------------------------
* Margin | # 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 | Margin
* 5.55555% | % 6.25 12.5 18.75 25.0 31.25 37.5 43.75 50.0 56.25 62.5 68.75 75.0 81.25 87.5 93.75 100 | 5.55555%
*
*
*/
/* @media screen and (min-width: 1872px) */
@media screen and (min-width: 117em) {
  /* line 604, ../source/screen.scss */
  #page {
    margin: 0 5.556%;
  }
}
/* @media screen and (min-width: 2080px) */
@media screen and (min-width: 130em) {
  /* line 615, ../source/screen.scss */
  body {
    /* Zoom baseline grid to 18/16 = 1.125 */
    font-size: 1.125em;
    max-width: 160 em;
  }
}
