{% extends 'base.html' %}


{% block title %}Medlemmer af {{ block.super }}{% endblock %}


{% block content %}

<section id="member-list">

        <header class="wrapper">

            <nav class="context-nav">

                {% include "profiles/_profile_nav.html" %}

            </nav>

            <h1>Vore medlemmer</h1>
        </header>

        {% include "profiles/_profile_list.html" %}

        <footer class="wrapper">
            {% include "_pagination.html" %}
        </footer>

</section>


{% endblock %}
