{% extends 'base.html' %}

{% block title %}Bestyrelsen - {{ block.super }}{% endblock %}

{% block content %}

<section id="member-list">

        <header class="wrapper">
            
            <nav class="context-nav">

                <ul class="left">
                    <li><a href="{% url profiles_index %}">se alle medlemmer</a></li>
                </ul>

            </nav>
            
            
            <h1>Bestyrelsen</h1>

        </header>

        {% include "profiles/_profile_list.html" %}

        <footer class="wrapper">
        </footer>
</section>


{% endblock %}