Django==1.7.1
Markdown==2.5.2
Pillow==2.6.1
argparse==1.2.1
django-debug-toolbar==1.2.2
django-flatblocks==0.8
django-grappelli==2.6.3
django-markdown-deux==1.0.5
django-markwhat==1.4
django-notification==1.2.0
mailsnake==1.6.2
markdown2==2.3.0
python-memcached==1.53
requests==2.5.0
simplejson==3.6.5
sorl-thumbnail==11.12.1b
sqlparse==0.1.14
wsgiref==0.1.2