@import url(http://fonts.googleapis.com/css?family=Poly|Gentium+Book+Basic|Andada|Andika);

@import "compass/utilities/general/clearfix";
@import "compass/css3";

/* Based on <http://goldengridsystem.com/> */


//
// Colors
//

$dark-background-color: rgb(34,4,2);
$light-background-color: rgb(253,252,252);
$secondary-highlight-color: rgb(177,76,152);
$highlight-color: #BA1820;
$title-color: Black;
$link-color: #BA1820;

//
// Important numbers
//

$line: 24;
$column: 100% / 18;
$font-size: 16;
$em: $font-size * 1;

