#site-header {
    margin-top: 1.5em;
}

#site-logo {
    text-align: center;
    @include clearfix;

    h1 {
        text-indent: -9999px;
        background: url('../images/logo.png') center no-repeat;

        height: 168px;

        color: rgba($highlight-color, 1);
        font-family: times;
        margin: 0.2859em 0 0.57149em;
        letter-spacing: -0.02em;
        text-transform: uppercase;

    }
}

#main-navigation {
    text-align: center;
    ul li {
        //float: left;
        display: inline;
        padding: 0 2% 0 0;
        a {
            color: black;
            text-decoration: none;
            //text-transform: uppercase;
            font-size: 1em;
            border-bottom: 2px solid rgba(white, 0.4);
            &:hover, &:active, &:focus {
                border-bottom: 2px solid $highlight-color;
            }
        }
    }
}

#user-navigation {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1.5em;
    //background-color: rgba(34,4,2,0.9);


    border-bottom: 1px solid #DDDDDD;
    background-color: rgba($light-background-color, 0.4);
    padding: 0 #{($line/2)/$em}em;

    ul {
        li {
            float: right;
            display: block;
            padding: 0 1%;
            a {
                text-decoration: none;
                color: rgba(144,10,10,1);
            }
        }
    }
}