#splash {
    @include clearfix;
    clear: both;

}

#new-activity {
    clear: both;
}

#new-members {

    margin-bottom: 1.5em;
    ul
    {
        @include clearfix;
        li {
            display: block;
            float: left;
            width: 25%;

            a {
                display: block;
                text-align: center;
                img {
                    @include border-radius(4px, 4px);
                    //@include box-shadow(darken($dark-background-color,10%), 1px, 1px, 2px);
                }
            }
        }
    }
}

#new-notes {
    article a {
        text-decoration: none;
        h2 {
            @extend .large;
            margin: 0 0 0.4615em;
        }
    }
}


