

/*
*
* Visual Structure
*
*/

body {
    background: url('../images/background.png') repeat;
}

#content {

        .box {
            position: relative;

            border: 1px solid #DDDDDD;
            background-color: rgba($light-background-color, 0.4);
            @include border-radius(6px);
            //padding: 0 #{($line/2)/$em}em;
            clear: both;
            @include pie-clearfix;
            padding-bottom: 0.75em;

            &.active:hover {
                background-color: rgba($light-background-color, 0.8);
            }

        }
        margin-bottom: 1.5em;
    
}


#content header h1 {
    //font-variant: small-caps;
    font-weight: normal;
    font-family: Times;
    text-align: center;

    color: $title-color;


    font-size: #{26 / $em}em;
    line-height: ($line*1.5) / 26 * 1em;

    margin: 0.9230769230769231em 0 0.46153846153846156em;

}


a {
    color: $link-color;
    &:visited {
        color: darken($link-color, 10%);
    }
    &:hover, &:active, &:focus {
        color: darken($link-color, 20%);
    }

}

a.action {
    float: right;
}

a.button {
    @include border-radius(4px, 4px);
    text-decoration: none;
    color: rgba($light-background-color,0.6);
    background-color: rgba($dark-background-color, 1);
    padding: 0.417em 1em;
    margin: 0 0 0.834em 0;
    display: inline-block;
    font-size: 0.9em;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
        color: lighten($link-color, 5%);
    }
}


/* forms */
#id_honeypot {
    display: none;
}


#pagination {
  clear: both;
  ul, ol {
    margin: 0;
    padding: 0;
    text-align: center;
    li, ol {
      display: inline;
      li {
        margin-right: 2px;
      }
      &.active {
        font-weight: bold;
        a {
          border: none;
          color: $highlight-color;
        }
      }
    }
    li {
      margin-right: 1.2em;
    }
    #step-links {
      display: inline;
    }
  }
}


#profile {

    header {
        h1 {
            //font-variant: small-caps;
        }
    }
    .avatar {
        float:left;
        padding-right: 1.5em;
    }



}

nav.edit {
    position: absolute;
    top: 0;
    right: 0;

    background-color: darken($light-background-color, 1%);
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;

    ul {
        margin-bottom: 0!important;
        li {
            display: inline;
            font-size: 0.8em;
            padding: 0.25em;
        }

    }
}


#member-list .member {

    height: 4em;
    margin-bottom: 0.75em;

    header {
        margin-left: 3.5em;
        h1 {
            margin: 0;
            text-align: left;
            font-size: 1em;
            //font-variant: small-caps;
        }
    }

    .avatar {
        float: left;
        width: 3em;
        img {
            height: 3em;
        }
    }
}

#note-list, #meeting-list {
    article {

        margin-bottom: 1.5em;

        a {
            text-decoration: none;
        }

        .meta {
            margin-bottom: 0;
            li {
                display: inline;
                padding-right: 0.75em;
                font-style: italic;
            }
        }

        header {
            h1 {
                text-align: left;
                margin-top: 0;
                margin-bottom: 0.15em;
            }
        }
    }
}

#meeting-list {
    h2 {
        margin-bottom: 0;
        font-size: 1.2em;
    }
}


// comments
#comments {
    article.comment {
        h1 {
            text-align: left;
            font-weight: bold;
            font-size: 1.1em;
        }
        .img {
            float: left;
        }
        .comment-content {
            padding-left: 5em;
        }
    }
}


// forms
form {
    ol li {
        list-style: none;
        line-height: 3em;
        clear: both;
        input:not([type="radio"]), textarea {
            width: 44%;
        }
    }



    label {
        float: left;
        width: 8em;
        font-size: 0.9em;
        text-align: right;
        padding: 0 #{($line/2)/$em}em;
        &:hover {
            cursor: pointer;
        }

    }

    input:not([type="radio"]), textarea {
        padding: 0.2em;
        font-size: 0.9em;
        @include border-radius(2px);
        border: 1px solid #DDDDDD;
        font-style: italic;
        &:focus {
            background-color: lighten(#DDDDDD, 10%)
        }
    }



    textarea {
        font-size: 1em;
    }


    

}