@import 'partials/base';
@import 'partials/reset';
@import 'partials/type';


body {
    min-width: 400px;
}

/*
*
* Simple fluid media
*
*/

figure {
    position: relative;
}
figure img, figure object, figure embed, figure video {
    max-width: 100%;
    display: block;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}


/*
* Default
*/

#site-footer {
    margin-top: 1.5em;

    font-size: 0.8em;

    ul {
        list-style-type: none;
    }

}

#site-header {
    margin-top: 1.5em;
}

#site-logo {
    text-align: center;
    @include clearfix;

    h1 {
        text-indent: -9999px;
        background: url('../images/logo.png') center no-repeat;
        height: 168px;
        color: rgba($highlight-color, 1);
        font-family: times;
        margin: 0.2859em 0 0.57149em;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }
}

#main-navigation {
    text-align: center;
    ul li {
        //float: left;
        display: inline;
        padding: 0 2% 0 0;
        a {
            color: black;
            text-decoration: none;
            //text-transform: uppercase;
            font-size: 1em;
            border-bottom: 2px solid rgba(white, 0.4);
            &:hover, &:active, &:focus {
                border-bottom: 2px solid $highlight-color;
            }
        }
    }
}

#user-navigation {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1.5em;
    //background-color: rgba(34,4,2,0.9);

    border-bottom: 1px solid #DDDDDD;
    background-color: rgba($light-background-color, 0.4);
    padding: 0 #{($line/2)/$em}em;

    ul {
        li {
            float: right;
            display: block;
            padding: 0 1%;
            a {
                text-decoration: none;
                color: rgba(144,10,10,1);
            }
        }
    }
}

body {
    background: url('../images/background.png') repeat;
}

#content {
        .box {
            position: relative;

            border: 1px solid #DDDDDD;
            background-color: rgba($light-background-color, 0.4);
            @include border-radius(6px);
            //padding: 0 #{($line/2)/$em}em;
            clear: both;
            @include pie-clearfix;
            padding-bottom: 0.75em;

            &.active:hover {
                background-color: rgba($light-background-color, 0.8);
            }
        }
        margin-bottom: 1.5em;

}


#content header h1 {
    //font-variant: small-caps;
    font-weight: normal;
    font-family: Times;
    text-align: center;
    color: $title-color;
    font-size: #{26 / $em}em;
    line-height: ($line*1.5) / 26 * 1em;

    margin: 0.4230769230769231em 0 0.46153846153846156em;

}

#meeting header h2 {
    text-align: center;
    font-size: #{18 / $em}em;
}

a {
    color: $link-color;
    &:visited {
        color: darken($link-color, 10%);
    }
    &:hover, &:active, &:focus {
        color: darken($link-color, 20%);
    }

}

a.action {
    float: right;
}

a.button {
    @include border-radius(4px, 4px);
    text-decoration: none;
    color: rgba($light-background-color,0.6);
    background-color: rgba($dark-background-color, 1);
    padding: 0.417em 1em;
    margin: 0 0 0.834em 0;
    display: inline-block;
    font-size: 0.9em;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
        color: lighten($link-color, 5%);
    }
}

/* forms */
#id_honeypot {
    display: none;
}

#pagination {
  clear: both;
  ul, ol {
    margin: 0;
    padding: 0;
    text-align: center;
    li, ol {
      display: inline;
      li {
        margin-right: 2px;
      }
      &.active {
        font-weight: bold;
        a {
          border: none;
          color: $highlight-color;
        }
      }
    }
    li {
      margin-right: 1.2em;
    }
    #step-links {
      display: inline;
    }
  }
}


#profile {
    header {
        h1 {
            //font-variant: small-caps;
        }
    }
    .avatar {
        float:left;
        padding-right: 1.5em;
        padding-bottom: 1.5em;
    }
}

body.index {
    #content .wrapper {
        @include clearfix;

        article a {
            text-decoration: none;
            h2 {
                @extend .large;
                margin: 0 0 0.4615em;
            }
        }
    }

    #members {
        margin-bottom: 1.5em;
        clear: both;

        li {
            display: block;
            float: left;
            width: 25%;

            a {
                display: block;
                text-align: center;
                img {
                    @include border-radius(4px, 4px);
                    //@include box-shadow(darken($dark-background-color,10%), 1px, 1px, 2px);
                }
            }
        }
    }
}


nav.edit {
    position: absolute;
    top: 0;
    right: 0;

    background-color: darken($light-background-color, 1%);
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;

    ul {
        margin-bottom: 0!important;
        li {
            display: inline;
            font-size: 0.8em;
            padding: 0.25em;
        }

    }
}


#member-list .member {

    height: 4em;
    margin-bottom: 0.75em;

    header {
        margin-left: 3.5em;
        h1 {
            margin: 0;
            text-align: left;
            font-size: 1em;
            //font-variant: small-caps;
        }
    }

    .avatar {
        float: left;
        width: 3em;
        img {
            height: 3em;
        }
    }
}

#note-list, #meeting-list {
    article {

        margin-bottom: 1.5em;

        a {
            text-decoration: none;
        }

        .meta {
            margin-bottom: 0;
            li {
                display: inline;
                padding-right: 0.75em;
                font-style: italic;
            }
        }

        header {
            h1 {
                text-align: left;
                margin-top: 0;
                margin-bottom: 0.15em;
            }
        }
    }
}

#meeting-list {
    h2 {
        margin-bottom: 0;
        font-size: 1.2em;
    }
}


// comments
#comments {
    article.comment {
        h1 {
            text-align: left;
            font-weight: bold;
            font-size: 1.1em;
        }
        .img {
            float: left;
        }
        .comment-content {
            padding-left: 5em;
        }
    }
}


// forms
form {
    legend {font-weight: bold;}
    
    ol li {
        list-style: none;
        line-height: 3em;
        clear: both;
        input:not([type="radio"]):not([type="checkbox"]), textarea {
            width: 44%;
        }
    }
    label {
        float: left;
        width: 10.5em;
        font-size: 0.9em;
        text-align: right;
        padding: 0 #{($line/2)/$em}em;
        &:hover {
            cursor: pointer;
        }
    }

    input:not([type="radio"]):not([type="checkbox"]), textarea {
        padding: 0.2em;
        font-size: 0.9em;
        @include border-radius(2px);
        border: 1px solid #DDDDDD;
        font-style: italic;
        &:focus {
            background-color: lighten(#DDDDDD, 10%)
        }
    }
    textarea {
        font-size: 1em;
    }
    
    #accept-section {
      label {
        text-align: left;
        width: 85%;
        padding:  0;
        float: right;
        line-height: 1.3;
      }
      input {
        width: 15%;
        text-align: center;
        
      }
    }
    
}


/*
*
* Four-column grid active
* ----------------------------------------
* Margin | # 1 2 3 4 | Margin
* 5.55555% | % 25 50 75 100 | 5.55555%
*
*/


#page {
    margin: 0 $column;
    padding: 1.5em 0;
    //background: url(../images/grid.png) repeat;
    @include pie-clearfix;
}

#content {
    margin-top: 1.5em;
}

h2 {
    font-weight: normal;
}

h3 {
    margin: #{24/$em}em 0 #{24/$em}em;
}

/*
* Simple elastic gutters
* Note: box-sizing will not work in IE6-8
*/


.wrapper {
    padding: 0 #{($line/2)/$em}em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}


/*
*
* Fixes for IE6-8
* http://jonikorpi.com/leaving-old-IE-behind/
*
*/

.ie body {
    width: #{640/$em}em;
    margin: 0 auto;
    font-size: #{($font-size + 1) / $em}em;
}

.ie h1 {
    @extend .huge;
    margin: (48/42*1em) 0 (24/42*1em);
}

/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em) {

    body {
        /* Zoom baseline grid to 17/16 = 1.0625 */
        font-size: #{($font-size + 1) / $em}em;
    }

    h1 {
        @extend .huge;
        margin: (48/42*1em) 0 (24/42*1em);
    }

    #site-footer .wrapper {
        width: 50%;
        float: left;
    }

}


/*
*
* Eight-column grid active
* ----------------------------------------------------------------------
* Margin | # 1 2 3 4 5 6 7 8 | Margin
* 5.55555% | % 12.5 25.0 37.5 50.0 62.5 75.0 87.5 100 | 5.55555%
*
*
*/

/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
    body {
        /* Reset baseline grid to 16/16 = 1 */
        font-size: #{($font-size) / $em}em;
    }
    body.index {
        #notes, #events {
            float: left;
            width: 50%
        }

        #members li {
            width: 12.5%;
        }

    }



    #member-list .member.wrapper {
        float:left;
        width: 50%;
    }


    #site-footer .wrapper {
        width: 25%;
        float: left;
    }

}

/* @media screen and (min-width: 888px) */
@media screen and (min-width: 55.5em) {

    body {
        /* Zoom baseline grid to 17/16 = 1.0625 */
        font-size: #{($font-size + 1) / $em}em;
    }


}


/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {

    body {
        /* Reset baseline grid to 16/16 = 1.0 */
        font-size: #{($font-size) / $em}em;
    }

    #page {
        margin: 0 $column*3;
    }

}


/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {

    body {
        /* Zoom baseline grid to 17/16 = 1.0625 */
        font-size: #{($font-size + 1) / $em}em;
    }

}


/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {

    body {
        /* Reset baseline grid to 16/16 = 1.0 */
        font-size: #{($font-size) / $em}em;
    }

    #page {
        margin: 0 $column*5;
    }

}


/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em) {

    body {
        /* Zoom baseline grid to 17/16 = 1.0625 */
        font-size: #{($font-size + 1) / $em}em;
    }

}


/*
*
* Sixteen-column grid active
* ----------------------------------------------------------------------------------------------------------------------
* Margin | # 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 | Margin
* 5.55555% | % 6.25 12.5 18.75 25.0 31.25 37.5 43.75 50.0 56.25 62.5 68.75 75.0 81.25 87.5 93.75 100 | 5.55555%
*
*
*/

/* @media screen and (min-width: 1872px) */
@media screen and (min-width: 117em) {

    #page {
        margin: 0 $column*1;

    }

}


/* @media screen and (min-width: 2080px) */
@media screen and (min-width: 130em) {

    body {
        /* Zoom baseline grid to 18/16 = 1.125 */
        font-size: #{($font-size + 2) / $em}em;
        max-width: (2560/$em)em;
    }
}