{% extends 'base.html' %}

{% block title %}Møder og referater - {{ block.super }}{% endblock %}

{% block body_class %}meeting-list{% endblock %}

{% block content %}

<section id="meeting-list">

<header class="wrapper">
    <h1>Møder og referater</h1>
</header>

{% for object in object_list %}

<article id="id_{{ object.id }}" class="meeting wrapper">
        <a href="{{ object.get_absolute_url }}">

            <header>
                <hgroup>
                    <h2><time class="date" datetime="{{ object.date|date:"c" }}">{{ object.date|date }}</time></h2>
                    <h1>{{ object.title }}</h1>
                </hgroup>
            </header>

        </a>
</article>

{% endfor %}

<footer>
    {% include "_pagination.html" %}
</footer>


</section>

{% endblock %} %}