{% extends 'base.html' %}
{% load markup %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}


{% block content %}

    <article id="meeting" class="wrapper">

    <header><h2><time class="date" datetime="{{ object.date|date:"c" }}">{{ object.date|date }} klokken {{ object.date|time }}</time></h2>
                    <h1>{{ object.title }}</h1>
    </header>



    <h2>Dagsorden</h2>
    {{ object.agenda|urlize|markdown }}




        <h2>Referat</h2>
        {% if object.minutes %}
        {{ object.minutes|urlize|markdown }}
        {% else %}
        <p>Referat fra mødet er endnu ikke lagt op.</p>
        {% endif %}

    </article>


{% endblock %}