<!DOCTYPE html>

<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->

<!--
The comment jumble above is handy for targeting old IE with CSS.
http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- Please don't add "maximum-scale=1" here. It's bad for accessibility. -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{% block title %}Dansk Vokalforening{% endblock %}</title>

    <meta name="description" content="{% block description %}Forum for professionelle stemmebrugere.{% endblock %}" />

    <link href="{{ STATIC_URL }}stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/icon.png" />    

    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">

    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

	<script src="{{ STATIC_URL }}javascripts/main.js"></script>


    <!-- Here's Golden Gridlet, the grid overlay script. -->
    <!--<script src="https://raw.github.com/jonikorpi/Golden-Grid-System/master/GGS.js
"></script>-->

    <!-- enable HTML5 elements in IE7+8 -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block head %}{% endblock %}

    {% include "_analytics.html" %}
</head>

<body class="{% block body_class %}{% endblock %}" id="top" lang="da">

    <div id="page">

        <header id="site-header">

            <div id="site-logo" class="wrapper">
                <a href="{% url index %}">
                    <h1><span>Dansk Vokalforening</span></h1>
                </a>
            </div>


            <nav id="main-navigation" class="wrapper">
                <ul>
                    <li><a href="{% url profiles_index %}">Medlemmer</a></li>
                    <li><a href="{% url corkboard_events %}">Events</a></li>
                    <li><a href="{% url corkboard_notes %}">Opslag</a></li>
                    <li><a href="/i/">Om foreningen</a></li>
                    <li><a href="{% url meetings_index %}">Møder og referater</a></li>
                </ul>
            </nav>

            <nav id="user-navigation">
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url profile_detail user.id %}">{{ user.get_full_name }}</li>
                        {% if user.is_staff %}
                            <li><a href="/a">admin</a></li>
                        {% endif %}
                        <li><a href="{% url logout %}">log ud</a></li>
                    {% else %}
                        <li><a href="{% url login %}">Log ind</a></li>
                        <li><a href="{% url registration %}">Bliv medlem</a></li>
                    {% endif %}
                </ul>
            </nav>

        </header>

        <div id="content" class="wrapper">
            <div class="box">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer id="site-footer" class="wrapper">

            <nav class="wrapper">
                <ul>
                    <li><a href="#top">til toppen</a></li>
                    <li><a href="{% url index %}">Forside</a></li>
                    <li><a href="/i/">Om Dansk Vokalforening</a></li>
                    <li><a href="{% url profiles_index %}">Medlemmer</a></li>
                    <li><a href="{% url profiles_board %}">Bestyrelsen</a></li>
                    <li><a href="{% url corkboard_events %}">Events</a></li>
                    <li><a href="{% url corkboard_notes %}">Opslag</a></li>
                    <li><a href="{% url meetings_index %}">Møder og referater</a></li>
                </ul>
            </nav>

            <section id="tech" class="wrapper">
                <ul>
                    <li>Feedback og support, skriv til <a href="mailto:support@vokalforening.dk">support@vokalforening.dk</a></li>
                    <li>Udviklet og hostet af <a href="http://johan.cc">johan.cc</a></li>
                    
                </ul>
                
            </section>

            <section id="contact" class="wrapper">
                <ul>
                    <li><a href="mailto:info@vokalforeningen.dk">info@vokalforeningen.dk</a></li>
                    <li><a href="https://www.facebook.com/DanskVokalforening">facebook</a></li>
                </ul>
            </section>

            <section id="copy" class="wrapper">
                <small>
                    Copyright &copy; Vokalforeningen
                </small>
            </section>

        </footer>

    </div>

</body>

</html>

