{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}Dansk Vokalforening{% endblock %}

{% block description %}Dansk Vokalforening samler det vokale Danmark i et fagligt forum præget af
åbenhed, samarbejde og tolerance, hvor der er plads til alle holdninger og brug for alles erfaringer.{% endblock %}

{% block body_class %}index{% endblock %}

{% block content %}

    {% if user.is_anonymous %}
        <section id="introduction" class="wrapper">
                

                <header><h1>Forum for professionelle stemmebrugere</h1></header>


                <div>
                    <p><abbr title="Dansk Vokalforening">DVF</abbr> samler det vokale Danmark i et fagligt forum præget af
                        åbenhed, samarbejde og tolerance, hvor der er plads til alle holdninger og brug for alles erfaringer.
                    <a href="/i/">Læs mere &hellip;</a> </p>

                    <p>Er du sanger, sangunderviser, talepædagog, logopæd, halslæge, retoriker, skuespiller, dubber,
                        korleder, akustiker, tonemester, producer eller på anden måde professionelt beskæftiget med den
                        menneskelige stemme, så er <abbr title="Dansk Vokalforening">DVF</abbr> en forening for dig.
                        <a  href="{% url registration %}">Bliv medlem &hellip;</a></p>

                </div>

        </section>
    {% endif %}

    <section id="notes" class="wrapper">
        <header><h1>Opslag</h1></header>
        {% for n in notes %}
            <article>
                <a href="{{ n.get_absolute_url }}">
                    <time class="pubdate" datetime="{{ n.pub_date|date:"c" }}">For {{ n.pub_date|timesince }} siden</time>
                    <h2>{{ n.title }}</h2>
                </a>
            </article>
        {% endfor %}

        <a class="action" href="{% url corkboard_notes %}">Se alle opslag</a>
    </section>

    <section id="events" class=wrapper>

        <header><h1>Events</h1></header>
        {% for e in events %}
            <article>
                <a href="{{ e.get_absolute_url }}">
                    <time class="pubdate" datetime="{{ e.start|date:"c" }}">Om {{ e.start|timeuntil }}</time>
                    <h2>{{ e.title }}</h2>
                </a>
            </article>
        {% endfor %}

        <a class="action" href="{% url corkboard_events %}">Se alle events</a>
    </section>

    <section id="members" class="wrapper">
        <header><h1>Medlemmer</h1></header>
        <ul>
        {% for m in members %}
            <li class="member"><a href="{{ m.get_absolute_url }}" title="{{ m.user.get_full_name }}">
                {% thumbnail m.image "48x48" crop="center" as img %}
                <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}"/>
                {% empty %}
                <img src="" width="48" height="48"/>
                {% endthumbnail %}
            </a></li>
        {% endfor %}
        </ul>
        <a class="action" href="{% url profiles_index %}">Se alle medlemmer</a>
    </section>




{% endblock %}