{% extends 'base.html' %}

{% block title %}Møder og referater - {{ block.super }}{% endblock %}

{% block body_class %}meeting-list{% endblock %}

{% block content %}
<section id="meeting-list">
<header class="wrapper">

    <nav class="context-nav">

    {% if user.is_staff %}
        <ul class="edit-nav right">
            <li><a href="{% url 'admin:meetings_meeting_add' %}">nyt møde</a></li>
        </ul>
    {% endif %}
    </nav>

    <h1>Møder og referater</h1>
</header>

<header class="wrapper"><h2>Aktuelle møder</h2></header>
{% for object in future_meetings %}
<article id="id_{{ object.id }}" class="meeting wrapper">
        <a href="{{ object.get_absolute_url }}">
            <header>
                <hgroup>
                    <h2><time class="date" datetime="{{ object.date|date:"c" }}">{{ object.date|date }}</time></h2>
                    <h1>{{ object.title }}</h1>
                </hgroup>
            </header>
        </a>
</article>
{% endfor %}

<header class="wrapper"><h2>Ældre møder</h2></header>
{% for object in past_meetings %}
<article id="id_{{ object.id }}" class="meeting wrapper">
        <a href="{{ object.get_absolute_url }}">
            <header>
                <hgroup>
                    <h2><time class="date" datetime="{{ object.date|date:"c" }}">{{ object.date|date }}</time></h2>
                    <h1>{{ object.title }}</h1>
                </hgroup>
            </header>
        </a>
</article>
{% endfor %}

</section>

{% endblock %}
