{% extends "base.html" %}

{% block title %}Log ind - {{ block.super }}{% endblock %}


{% block content %}

<section id="login" class="wrapper">

    <header>
        <h1>Log ind</h1>
    </header>


    {% if form.errors %}
    <p>Din email eller dit password blev ikke genkendt. Prøv igen.</p>
    {% endif %}

    <form method="post" action="{% url login %}">
        {% csrf_token %}

        <ol>
            <li>
                <label for=id_email>Email:</label>
                <input id=id_email type=email name=username placeholder="example@domain.com" required>
            </li>

            <li>
                <label for=id_password>Adgangskode:</label>
                <input id=id_password type=password name=password placeholder="din adgangskode" required>
            </li>
        </ol>

        <button type="submit">log ind</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

</section>

{% endblock %}