{% extends 'base.html' %}
{% load thumbnail %}
{% load markup %}

{% block title %}{{ profile.user.get_full_name }} - {{ block.super }}{% endblock %}


{% block content %}
<section id="profile">

    {% ifequal profile.user user %}
        <nav class="edit">
            <ul>
                <li><a href="{% url profile_update profile.user.id %}">Rediger profil</a></li>
            </ul>
        </nav>
    {% endifequal %}


    <header class="wrapper">
    {% if profile.board_member %}
        <p>Bestyrelsesmedlem</p>
    {% endif %}

    <h1>{{ profile.user.get_full_name }}</h1>
    </header>

    <section id="about" class="wrapper">


    <figure class="avatar">
        {% thumbnail profile.image "126" crop="center" as img %}
            <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}"/>
        {% empty %}
        {% endthumbnail %}
    </figure>

    {{ profile.bio|markdown|urlize }}

    {% if user.is_authenticated %}
    <h2>Kontakt</h2>
    <p>
        <p>Email: {{ profile.user.email }}<br>
        Telefon: {{ profile.phone_number }}</p>

    </p>
    {% endif %}

    </section>


    <aside id="social-links" class="wrapper">
        <h2>Links</h2>
        <nav>
            <ul>
                {% if profile.url %}<li><a href="{{ profile.url }}">{{ profile.url }}</a></li>{% endif %}
                {% if profile.facebook %}<li><a href="{{ profile.facebook }}">facebook</a></li>{% endif %}
            </ul>
        </nav>
    </aside>

    <footer class="wrapper">

    </footer>

</section>

{% endblock %}