{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

<section id="member-list">


        <header class="wrapper">
            <h1>Vores medlemmer</h1>
        </header>

        {% for profile in object_list %}
        <article id="id_{{ object.id }}" class="member wrapper">

            <a href="{{ profile.get_absolute_url }}" >

                <figure class="avatar">
                    {% thumbnail profile.image "48x48" crop="center" as img %}
                        <img src="{{ img.url }}"/>
                    {% empty %}
                        <img src="http://cartella.tccd.edu/images/shared/profile-empty-head.gif"/>
                    {% endthumbnail %}
                </figure>

                <header>
                    <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
                </header>


            
            </a>

        </article>

        {% endfor %}

        <footer class="wrapper">
            {% include "_pagination.html" %}
        </footer>


</section>


{% endblock %}