{% extends 'base.html' %}
{% load markup %}
{% load comments %}
{% load flatpages %}

{% block title %}{{ flatpage.title }} - {{ block.super }}{% endblock %}

{% block body_class %}flatpage{% endblock %}

{% block content %}

<article id="{{ flatpage.slug }}" class="wrapper">

    <header>
        
        {% get_flatpages for user as flatpages %}
        <nav class="context-nav">
        <ul id="flatpages-nav" class="left">
            {% for page in flatpages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        
        
         {% if user.is_staff %}
                <ul class="edit-nav right">
                    <li><a href="{% url admin:flatpages_flatpage_change flatpage.id %}">rediger</a></li>
                    <li><a href="{% url admin:flatpages_flatpage_delete flatpage.id %}">slet</a></li>
                    <li><a href="{% url admin:flatpages_flatpage_add %}">ny side</a></li>
                    
                </ul>
            {% endif %}
        
        
        </nav>
        
        
        
        <h1>{{ flatpage.title }}</h1>
    </header>

    {{ flatpage.content|markdown:"urlize" }}


{% if user.is_staff %}
    <!-- add edit link here -->
{% endif %}

</article>


{% endblock %}