{% extends 'base.html' %}
{% load comments %}
{% load i18n %}

{% block title %}{{ list-title }} - {{ block.super }}{% endblock %}

{% block body_class %}note-list{% endblock %}
{% block content %}

<header class="wrapper">
<h1>{{ list-title }}</h1>

{% if user.is_authenticated %}
<nav class="edit">
    <ul>
        <li>
            <a href="{% url note_create %}">Nyt opslag</a>
        </li>
        <li>
            <a href="{% url event_create %}">Ny event</a>
        </li>

    </ul>
</nav>
{% endif %}

</header>




<section id="note-list">

{% for object in object_list %}

      <article id="note-id{{ object.id }}" class="wrapper">

            <header>
               <a href="{{ object.get_absolute_url }}" rel="permalink">
                <h1>{{ object.title }}</h1>
               </a>
            </header>

            {% if object.is_event %}
                <ul class="event-time">
                <li><time class="start" datetime="{{ object.start|date:"c" }}">Fra d. {{ object.start|date }} klokken {{ object.start|time }}</time></li>
                <li>Til <time class="end" datetime="{{ object.start|date:"c" }}">{{ object.end|date }} klokken {{ object.end|time }}</time></li>
                </ul>
            {% endif %}

            <footer>
            <ul class="meta">


                {% get_comment_count for object as comment_count %}
                <li class=comments><span class=count>{{ comment_count }}</span> kommentar{{ comment_count|pluralize:"er" }}</li>

                <li class=author>
                    <a href="{{ object.author.get_profile.get_absolute_url }}">{{ object.author.get_full_name }}</a>
                </li>

                <li><time class="pubdate" datetime="{{ object.pub_date|date:"c" }}">{{ object.pub_date|timesince }} siden</time></li>
            </ul>
            </footer>

      </article>

{% endfor %}

<footer class="wrapper">
    {% include "_pagination.html" %}
</footer>

</section>
{% endblock %}