{% extends 'base.html' %}
{% load markup %}
{% load thumbnail %}
{% load comments %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}

{% block body_class %}note-detail{% endblock %}

{% block content %}


    <article id="id{{ object.id }}" class="wrapper">

    {% ifequal user object.author %}
        <nav class="edit">
            <ul>
                <li><a href="{% url note_update object.id %}">rediger</a></li>
                <li><a href="{% url note_delete object.id %}">slet</a></li>
            </ul>
        </nav>
    {% endifequal %}



    <header>
        <h1>{{ object.title }}</h1>
    </header>

    {% if object.is_event %}
        <ul class="event">
        <li><time class="start" datetime="{{ object.start|date:"c" }}">Fra d. {{ object.start|date }} klokken {{ object.start|time }}</time></li>
        <li>Til <time class="end" datetime="{{ object.start|date:"c" }}">{{ object.end|date }} klokken {{ object.end|time }}</time></li>
        <li>Sted: {{ object.location }}</li>
        {% if object.facebook %}<li><a href="{{ object.facebook }}">se på facebook</a></li>{% endif %}
        </ul>
    {% endif %}

        <section id="body">
            {{ object.html|safe }}
        </section>


        <footer>


        </footer>


        <section id="comments">
            <header>
                <h2>Kommentarer</h2>
            </header>

            {% get_comment_list for object as comment_list %}
            {% for comment in comment_list %}
                <article class="comment wrapper" id="c{{ comment.id }}">

                    <div class="img">
                        <figure class="avatar">
                        <a href="{{ comment.user.get_profile.get_absolute_url }}">
                            {% thumbnail comment.user.get_profile.image "48x48" crop="center" as img %}
                                <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}">
                            {% empty %}
                                <img src="default">
                            {% endthumbnail %}
                        </figure>
                        </a>
                    </div>

                    <div class="comment-content">
                    <header>
                        <a href="{{ comment.user.get_profile.get_absolute_url }}"><h1>{{ comment.user.get_full_name }}</h1></a>
                    </header>

                    {{ comment.comment|markdown }}


                    <footer>
                        <a href="{% get_comment_permalink comment %}">#</a> | <time class="posted" datetime="{{ comment.submit_date|date:'c' }}">For {{ comment.submit_date|timesince }} siden</time>
                    </footer>

                    </div>


                </article>
            {% endfor %}

            {% if user.is_authenticated %}
                <section id="comment-form">
                <header>
                    <h3>Skriv kommentar</h3>
                </header>
                {% get_comment_form for object as form %}

                  <form action="{% comment_form_target %}" method="post">
                        {% csrf_token %}

                        <p>{{ form.comment }}</p>
                        {{ form.honeypot }}
                        {{ form.content_type }}
                        {{ form.object_pk }}
                        {{ form.timestamp }}
                        {{ form.security_hash }}
                        <input type="hidden" name="next" value="{{ object.get_absolute_url }}#cid" />


                        <input type="submit" name="submit" value="Send kommentar">

                  </form>
                </section>
            {% else %}
                <p><a href="{% url login %}">Log ind</a> eller <a href="{% url registration %}">bliv medlem</a> for at kommentere.</p>
            {% endif %}

        </section>

</article>
{% endblock %}